{% extends 'base.htm' %}
{% block title1 %}Home{% endblock %}
{% block title2 %}PhotoBox{% endblock %}

{% block header %}
<script>
    const time = new Date();
    fetch('/time/' + time.getTime());
</script>
{% endblock %}


{% block content %}

<a href="/overview">Overview</a><br>
<a href="/search">Search</a><br>
<a href="/preview">Preview</a><br>
<a href="/aruco">Aruco</a><br>
<a href="/overviewZip">Photo-Download</a><br>
<br>
<a href="/photo">Photo</a><br>
<a href="/stack">Focus-Stack</a><br>
<a href="/focus/-1">Autofocus</a><br>
<a href="/test">Test</a><br>
<br>
<a href="/light">Light</a>/<a href="/status">Status</a><br>
<a href="/update">Update (pull from git)</a><br>
<a href="/restart">Restart</a><br>
<br><br>
<a href="/shutdown">Shutdown</a><br>
<a href="/reboot">Reboot</a><br>


{% endblock %}