[Unit]
Description=PhotoBox Update
Wants=network-online.target
After=network-online.target

[Service]
User=root
WorkingDirectory=/home/photo/PhotoBox/
ExecStart=/home/photo/PhotoBox/update.sh

[Install]
WantedBy=multi-user.target