[Unit]
Description=PhotoBox Master
Wants=network-online.target
After=network-online.target

[Service]
User=root
WorkingDirectory=/home/photo/PhotoBox/
ExecStartPre=/home/photo/PhotoBox/update.sh
ExecStart=/home/photo/PhotoBox/master/.venv/bin/python3 -m master.control
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target